proyecto.DSD.Server/WebContent/wsdl/UtilServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://serviceImpl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://serviceImpl" xmlns:intf="http://serviceImpl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://serviceImpl" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="listarClientes">
    <complexType/>
   </element>
   <element name="listarClientesResponse">
    <complexType>
     <sequence>
      <element name="listarClientesReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="registrarSolicitud">
    <complexType>
     <sequence>
      <element name="solicitud" type="impl:Solicitud"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Solicitud">
    <sequence>
     <element name="codcli" nillable="true" type="xsd:int"/>
     <element name="codsolicitud" nillable="true" type="xsd:int"/>
     <element name="desperfil" nillable="true" type="xsd:string"/>
     <element name="desproyecto" nillable="true" type="xsd:string"/>
     <element name="estsolicitud" nillable="true" type="xsd:string"/>
     <element name="feFin" nillable="true" type="xsd:dateTime"/>
     <element name="feInicio" nillable="true" type="xsd:dateTime"/>
     <element name="fecCreacion" nillable="true" type="xsd:dateTime"/>
    </sequence>
   </complexType>
   <element name="registrarSolicitudResponse">
    <complexType>
     <sequence>
      <element name="registrarSolicitudReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="listarClientesRequest">

      <wsdl:part element="impl:listarClientes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarSolicitudResponse">

      <wsdl:part element="impl:registrarSolicitudResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarSolicitudRequest">

      <wsdl:part element="impl:registrarSolicitud" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarClientesResponse">

      <wsdl:part element="impl:listarClientesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UtilServiceImpl">

      <wsdl:operation name="listarClientes">

         <wsdl:input message="impl:listarClientesRequest" name="listarClientesRequest">

       </wsdl:input>

         <wsdl:output message="impl:listarClientesResponse" name="listarClientesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarSolicitud">

         <wsdl:input message="impl:registrarSolicitudRequest" name="registrarSolicitudRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarSolicitudResponse" name="registrarSolicitudResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UtilServiceImplSoapBinding" type="impl:UtilServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listarClientes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listarClientesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listarClientesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarSolicitud">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarSolicitudRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarSolicitudResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UtilServiceImplService">

      <wsdl:port binding="impl:UtilServiceImplSoapBinding" name="UtilServiceImpl">

         <wsdlsoap:address location="http://localhost:8088/proyecto.DSD.Server/services/UtilServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
